
body{
    padding-top:50px;
    height: 100%;
}
.container {
  height: 100%;

}
@media (min-width: 1200px){
.container {
  width: 1000px;

}
    h4
    {
        text-transform: uppercase;
    }
    
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
}
.starter-template{
    padding:40px 15px;
    text-align:center;
}

.shadowed {
filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";
filter: url(#drop-shadow);
-webkit-filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
}

.navbar-colored
{
  position: relative;
  min-height: 120px;
  margin-top: -50px;
    background-color: #e8ebf1;
}

nav .navbar-toggle
{
    background-color: #2aacc8;
    margin-top: 20px;
}

.navbar-header .icon-bar
{
    background-color: white;
}
nav .container
{
    margin-top: 25px;
    
}
@media (max-width: 768px)
    {
       nav > div .navbar-collapse {
        float: left !important;
        max-height: none !important;
       } 
        .carousel-indicators {
            margin-bottom: -5px !important;
        }
    }
.cc
{
    background-color: olive; height: 200px;
}
.navbar
{
    margin-bottom: 0px;
}

.carousel-inner
{
    height: auto;
    background-color: #81e4ed;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
   background-image: none; 
}

.carousel-indicators li {
    
    background-color: rgba(98,98,98,0.5);
    border: none;
    width: 15px;
    height: 15px;
    margin: 1px;
    margin-left: 9px;
    margin-right: 9px;
}

.carousel-indicators
{
    margin-bottom: -12px;
}

.carousel-indicators .active
{
    margin: 1px;
    width: 15px;
    height: 15px;
    margin-left: 9px;
    margin-right: 9px;
}



.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
    
margin: auto;
    margin-top: 25px;
    margin-bottom: 40px;
}

.navbar-nav>li>a 
{  
    color: black;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  color: #2aacc8;
    background-color: white;
    border-top: 4px #2aacc8 solid;
    margin-top: -4px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  text-decoration: none;
  color: #2aacc8;
    background-color: transparent;
}

.navbar-nav>li>a:hover
{  
    color: #2aacc8;
    background-color: white;
    border-top: 4px #2aacc8 solid;
    margin-top: -4px;
}

.navbar-nav>li>.dropdown-menu {
  
    border: none;
    border-radius: 0;
    border-bottom: 4px #2aacc8 solid;
    margin-top: 0;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.font{
    font-style: normal;
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    line-height: normal;
    text-align: center;
}
.item-header {
    text-transform: uppercase;
    font-size: 15px;
}

.flot-left {
    float: left;
    margin-right: 20px;
}

.item-img-header {
    margin-right: 20px;
    margin-bottom: 15px;
      vertical-align: -webkit-baseline-middle;
}

.read-more-arrow {
    margin-right: 7px;
    padding-bottom: 3px;
}

.items-row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.services-items {
    background-color: #e8ebf1;
    border-bottom: 1px solid #d9d9d9;
}

.item-service {
    padding-right: 20px;
    text-align: justify;
}

.last {
     padding-right: 0px;
}

#last-work {
    text-transform: uppercase;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 10px;
   
    
}

.works-img-header {
     margin-right: 30px;
      padding-bottom: 15px;
      vertical-align: -webkit-baseline-middle;
}

#works-navigation {
      padding-top: 10px;
    text-align: right;
    padding-left: 0px;
    padding-right: 0px;
}

#nav-work {
    margin-right: 20px;
    
}

@media (max-width: 376px)
    {
        #nav-work {
    margin-right: 5px;
    
}
    }

.preview-items {

    margin-left: -15px;
  margin-right: -15px;
  padding-top: 10px;
}



.works-thumbnail {
    padding-right: 20px;
}

[class*="pic-"]
{
    max-width: 100%;
    height: 100% !important;
    min-height: 160px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover !important;
    
}

.pic-one{ 
    background: url(../img/img1.jpg) no-repeat;
} 
.pic-two{ 
    background: url(../img/img2.jpg) no-repeat; 
} 

.pic-three{ 
    background: url(../img/img3.jpg) no-repeat; 
} 

.pic-four{ 
    background: url(../img/img4.jpg) no-repeat; 
} 

.text{ 
    width:100%; 
    min-height: 80px; 
    background:#2aacc8; 
    opacity:0; 
    position: relative;
    top:80px;
    
} 

[class*="pic-"]:hover .text { 
    opacity:1; 
}

[class*="pic-"] .text  { 
    text-align: center;
    margin: auto;
}


.m-section {
    margin-top: 35px;
    margin-left: -15px;
    margin-right: -15px;
}

.dw-btn {
    
    margin-left: 20px;
}

.alert-info > div > p{
    font-size: 16px;
    color: #333;
}

.alert-info
{
    padding: 30px;
}
.footer {
  margin-top: 20px;
  width: 100%;
  height: auto;
  background-color: #e8ebf1;
    border-top: 1px solid #d9d9d9;
}

.m-section >div[class*='col-']
{
    padding-right: 15px;
}

.m-section >div[class*='col-'] h4
{
    margin-bottom: 20px;
}




#explore {
    line-height: 30px;
    
}

#explore h4
    {
        margin-bottom: 0px;
    }


#Browse {
    line-height: 30px;
}

#Browse h4
{
    margin-bottom: 0px;
}

.logoRight {
    float: right;
}

@media (max-width:768px)
    {
        .logoRight {
            float: none;
        }
    }








